.App {
  text-align: center;
}

.App-header {
  background-color: #a4f4c9;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*style for buttons*/
.newProjButton {
  border: 1px solid transparent;
  line-height: 18px;
  padding: 10px 8px;
  cursor: pointer;
}

.newTaskButton {
  border: 1px solid transparent;
  line-height: 18px;
  padding: 10px 8px;
  cursor: pointer;
  width: 28%;
  color: white;
  font-size: 140%;
  background-color: burlywood;
  margin-top: 3%;
}

.newComButton {
  border: 1px solid transparent;
  line-height: 18px;
  padding: 5px 20px;
  margin-top: 1%;
  width: 34%;
  color: white;
  cursor: pointer;
  font-size: 100%;
  background-color: darkkhaki;
}

.newProjButton:hover {
  background: lightgrey;
}

.newTaskButton:hover {
  background: grey;
}

.newComButton:hover {
  background: lightgrey;
}

/*style for components*/
.taskTile {
  margin-top: 14px;
  font-size: 15px;
  font-weight: 400;
  width: 90%;
  margin-left: 40px;
  text-align: left
}

.tile {
  margin-top: auto;
  width: 85%;
  margin-left: 50px;
}

.task {
  margin-top: -14px;
  margin-bottom: -14px;
  margin-left: 44px;
  width: 747px;
  background: none;
  height: 40px;
  font-size: 14px;
}

.comment {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 44%;
  margin-left: 1%;
  width: 96%;
  margin-top: 1%;
  padding: 2px;
  text-align: left;
  font-size: 12px;
  margin-bottom: 1%;
}

/*intput style*/
.projectInput {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  outline: none;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 12.6%;
  width: 60%;
  background: none;
  height: 50px;
  font-size: 19px;
}

.checkboxInput {
  float: left;
  margin-top: -12px;
  margin-left: 20px;
}

.taskInput {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  outline: none;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: -50px;
  width: 117.4%;
  background: none;
  height: 44px;
  font-size: 17px;
  text-align: center;
}

.commentInput {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  outline: none;
  margin-top: 7px;
  margin-bottom: 0px;
  margin-left: -41px;
  width: 113.5%;
  background: none;
  height: 17px;
  font-size: 13px;
  text-align: center;
}



.taskTab {
}

.commentTab {
}

.input:focus {
  border: solid 1px lightgrey;
}

/*style for delete buttons*/
.taskDeleteButton {
  visibility: hidden;
  float: right;
  margin-right: -3px;
  margin-top: -7px;
  font-size: 24px;
  cursor: pointer;
  color: #7B7A7A;
}

.commentDeleteButton {
  visibility: hidden;
  float: right;
  margin-right: 26px;
  margin-top: -3px;
  font-size: 20px;
  cursor: pointer;
  color: #7B7A7A;
}

.projectDeleteButton {
  visibility: hidden;
  float: right;
  margin-right: -5px;
  font-size: 25px;
  cursor: pointer;
  margin-top: -5px;
  color: #7B7A7A;
}

.accordion:hover .projectDeleteButton {
  visibility: visible;
}
.taskTab:hover .taskDeleteButton {
  visibility: visible;
}

.commentTab:hover .commentDeleteButton {
  visibility: visible;
}

/*style for accordion*/
.section {
  width: 51%;
  margin-left: 25%;
}

.accordion__item {
  width: 96.3%;;
}

.accordion {
  margin-top: 1%;
  margin-bottom: 1%;
}

.accordion__body {
  width: 100%;
}

.taskTab {

}

