.tabs {
  margin-top: 2%;
  margin-left: 40%;
  float: left;
  --background: #FFFFFF;
  --light-grey: #C6CFD9;
  --wave-color: #2AC8DD;
  --width: 300px;
  --height: 75px;
  --border-radius: var(--height);
  background: var(--background);
  width: var(--width);
  height: var(--height);
  padding: 0;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(#414856, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  label {
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform-origin: center bottom;
    &::before {
      content: "";
      height: 4px;
      width: 4px;
      border-radius: 0% 100% 50% 50% / 0% 50% 50% 100%;
      transform: scale(1, 1) rotate(45deg);
      transform-origin: 50% 50%;
      background: var(--wave-color);
      display: block;
      position: absolute;
      top: -30px;
    }
    svg {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      .icon {
        fill: none;
        stroke: var(--light-grey);
        stroke-dashoffset: 98;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: stroke .15s linear .3s;
      }
    }
    .wave {
      height: 26px;
      width: 26px;
      position: absolute;
      overflow: hidden;
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -12px;
        right: 0;
        background-repeat: repeat;
        height: 14px;
        width: 48px;
        background-size: 12px 12px;
        animation: wave-animation 3s linear infinite;
        transition: bottom .15s ease-out .35s;
      }
      &::before {
        background-image: radial-gradient(circle at 6px -3px, transparent 6px, var(--wave-color) 6px);
        animation-duration: 2s;
        opacity: .5;
      }
      &::after {
        background-image: radial-gradient(circle at 6px -3px, transparent 6px, var(--wave-color) 6px);
        animation-duration: 3s;
      }
    }
    @for $icon from 1 through 4 {
      &:nth-of-type(#{$icon}) {
        .wave {
          clip-path: url(#path-icon-0+$icon);
        }
      }
    }
  }
  input {
    display: none;
    &:checked {
      + label {
        animation: wiggle-animation 1s ease .3s;
        &::before {
          animation: drop-animation .35s ease-in both;
        }
        svg {
          .icon {
            stroke: #4B4B4B;
          }
        }
        .wave {
          &:before {
            bottom: 0;
          }
          &:after {
            bottom: -4px;
          }
        }
      }
    }
  }
}
@keyframes wiggle-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(7deg);
  }
  90% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes wave-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes drop-animation {
  70% {
    transform: scale(.8, 3) rotate(45deg);
    top: -7px;
  }
  100% {
    transform: scale(1.5, .5) rotate(45deg);
    top: 19px;
  }
}

.socials {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 20px;

  a {
    display: block;
    width: 30px;
    opacity: .2;
    transform: scale(var(--scale, .8));
    transition: transform .3s cubic-bezier(0.38,-0.12, 0.24, 1.91);
    &:hover {
      --scale: 1;
    }
  }
}